---
---

@import "bootstrap/bootstrap";

.navbar{
     margin-bottom: 1.5rem;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.image-wrapper{
    margin-bottom: 1rem;
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .image-caption{
      text-align: center;
      color: grey;
      font-size: 0.9em;
    }
  }